<div class="login-wrapper">
  

  <!-- Centered registration form -->
  <div class="login-container">
<form (ngSubmit)="onUpdate()" #registerForm="ngForm" *ngIf="user">
  <input type="text" [(ngModel)]="firstname" name="firstname" placeholder="First Name" required /><br />
  <input type="text" [(ngModel)]="lastname" name="lastname" placeholder="Last Name" required /><br />
  <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required /><br />
  <input type="password" [(ngModel)]="password" name="password" placeholder="Password" /><br />
  <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password" /><br />
  <button type="submit" class="sign-in-button">Update</button>
  <p>{{ message }}</p>
  <p style="color: red">{{ errorMessage }}</p>
</form>


  </div>
  </div>
