<h2>Login</h2>
<form (ngSubmit)="onLogin()" #loginForm="ngForm">
  <input
    type="email"
    [(ngModel)]="email"
    name="email"
    required
    placeholder="Email"
  />
  <br />
  <input
    type="password"
    [(ngModel)]="password"
    name="password"
    required
    placeholder="Password"
  />
  <br />
  <button type="submit">Login</button>
</form>

<!-- Display 2FA form if needed -->
<div *ngIf="is2FAVerificationNeeded">
  <h2>Enter your 2FA Code</h2>
  <input
    type="text"
    [(ngModel)]="twoFACode"
    name="twoFACode"
    required
    placeholder="2FA Code"
  />
  <button (click)="onVerify2FACode()">Verify 2FA</button>
</div>

<p *ngIf="errorMessage" style="color:red">{{ errorMessage }}</p>
<button routerLink="/forget">Forgot password?</button>
