<div *ngIf="users.length > 0; else noUsers">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.idUser }}</td>
          <td>{{ user.nomUser }}</td>
          <td>{{ user.prenomUser }}</td>
          <td>{{ user.emailUser }}</td>
          <td>{{ user.roles }}</td>
          <td>{{ user.accountLockedUser }}</td>
          <td><button (click)="DeleteUser(user.idUser)">Delete</button></td>
          <td><a routerLink="/updateUser">Update</a></td>
          <td><button>Enable</button></td>
         
        </tr>
      </tbody>
    </table>
    <a routerLink="admin">Add User</a>
  </div>
  
  <ng-template #noUsers>
    <p>No users found.</p>
  </ng-template>
  